# Ignore preflight output log from scripts
scripts/preflight_output.txt

# Ignore generated certificates
*.pem

# Ignore postgres db
postgres

# Ignore generated nginx & tomcat overrides
container-compose/container-compose.nginx.yml
container-compose/container-compose.tomcat.yml