# Ignore preflight output log from scripts
scripts/preflight_output.txt

# Ignore generated certificates
*.pem

# Ignore postgres db
postgres

# Ignore generated nginx override
container-compose/container-compose.nginx.yml